@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Hotéis</h1>
    <p>
        Entre nas nossas redes sociais e saiba sobre novidades e promoções.
        <a href="#">
            Saiba mais
        </a>
    </p>
    <img src="~/Imagens/01.jpg" />
</div>

<div class="col-12">
    <p>
        <img src="~/Imagens/índice.jpg" />
        <img src="~/Imagens/fdfdf.jpg" />
        <img src="~/Imagens/images.jpg" />
    </p>
</div>
