@model SisHotel.Models.Hotel

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>
<hr />
<h4>Confirma a Exclusão desse cliente?</h4>

<form method="post" class="form-horizontal">
    @Html.ValidationSummary(null, new { @class = "text-danger" })

    <input type="hidden" value="@Model.id" />
    

    <input class="btn btn-success" type="submit" value="Excluir">


</form>

<hr />
<div>
    <a href="/Hotel/Alterar/@Model.id" class="btn btn-warning">Alterar</a>
    <a href="/Hotel/Index" class="btn btn-info"><< Voltar</a>

</div>
